
body{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   background-color: #242424;
}
h1,h2{
    font-size: 20px;
    text-align: center;
    color: white;
  
}

li,a,button{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

#ChatRooms{
   
    border: solid 2px green;
    background-color: #434346;
   /* border-radius: 16%;*/
    margin: auto;
    padding: 20px;
    width: 1025px;
    height: 425px; 

}

.ChatRooms {
    
    background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
   
}

a{
    color:blue;
    cursor: pointer;
}

.error {
    color: red;
}

#newComment{
   position: absolute;
    bottom: 95px;
    top: 85%;
    right: 25%;
    width: 60%;
    height: 25px;
    padding: 10px;
}

#addCommentBtn{
	position:fixed;
	width:60px;
	bottom: 80px;
	right:15%;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
#slattbratha{
    position:fixed;
	
	top: 90px;
	right:15%;
	background-color:#0C9;
	color:red;
	border-radius:20px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    
}
#login, #signup{
    position:fixed;
    top: 35%;
    right: 42%;
    border: solid 2px greenyellow;
    border-radius: 25px;
    margin: auto;
    padding: 20px;
    width: 200px;
    height: 300px; 
}

input{
   
    font-style: italic;
    font-size: 0.75em;
    color: black;
    background:mintcream ;
    padding: 5px;
}

#inputfile{
    font-style: italic;
    font-size: 0.75em;
    position:fixed;
	width:60px;
	bottom: 80px;
	right:20%;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    
}

.textColor{
color: white;
}